<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buer.rxjavapractice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".filteringObservables.FilteringObservablesActivity" />
        <activity android:name=".filteringObservables.DebounceActivity" />
        <activity android:name=".filteringObservables.DistinctActivity" />
        <activity android:name=".filteringObservables.ElementAtActivity" />
        <activity android:name=".filteringObservables.FilterActivity" />
        <activity android:name=".filteringObservables.FirstActivity" />
        <activity android:name=".filteringObservables.IgnoreElementsActivity" />
        <activity android:name=".filteringObservables.LastActivity" />
        <activity android:name=".filteringObservables.SampleActivity" />
        <activity android:name=".filteringObservables.SkipActivity" />
        <activity android:name=".filteringObservables.SkipLastActivity" />
        <activity android:name=".filteringObservables.TakeActivity" />
        <activity android:name=".filteringObservables.TakeLastActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".combiningObservables.AndOrThenOrWhenActivity" />
        <activity android:name=".combiningObservables.CombineLatestActivity" />
        <activity android:name=".combiningObservables.JoinActivity" />
        <activity android:name=".combiningObservables.MergeActivity" />
        <activity android:name=".combiningObservables.StartWithActivity" />
        <activity android:name=".combiningObservables.SwitchActivity" />
        <activity android:name=".combiningObservables.ZipActivity" />
        <activity android:name=".combiningObservables.CombiningObservablesActivity" />
        <activity android:name=".errorHandlingOperators.ErrorHandlingOperatorsActivity" />
        <activity android:name=".errorHandlingOperators.CatchActivity" />
        <activity android:name=".errorHandlingOperators.RetryActivity"></activity>
    </application>

</manifest>